@import com.gu.recipeasy.models._
@(dailyActivityDistribution: List[DayActivityDistribution])(implicit messages: play.api.i18n.Messages, request: RequestHeader)
@layout("Recipeasy Daily Breakdown") {

    <a href="@{routes.Admin.adminLandingPage}">Admin Home</a>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Curation</th>
                <th>Verification</th>
                <th>Finalisation</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

            @for( dayFigures <- dailyActivityDistribution.reverse ){
                <tr>
                    <td>@{dayFigures.date}</td>
                    <td>@{dayFigures.curationCount}</td>
                    <td>@{dayFigures.verificationCount}</td>
                    <td>@{dayFigures.confirmationCount}</td>
                    <td>@{dayFigures.curationCount + dayFigures.verificationCount + dayFigures.confirmationCount}</td>
                </tr>
            }
        </tbody>
    </table>
}
