@import com.gu.recipeasy.models._
@import com.gu.recipeasy.views
@(entries: List[LeaderboardEntry], userspeeds: Map[String,UserSpeeds])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

@userEmailFromItem(item: (LeaderboardEntry,Int)) = @{
    item._1.userEmail
}

@userSpeedCuration(userspeeds: Map[String,UserSpeeds], email: String) = @{
    userspeeds.get(email) match {
        case Some(userspeeds) => if( userspeeds.curation!=0 ){ "%.2f".format(userspeeds.curation/60) }else{ "" }
        case none => ""
    }
}
@userSpeedVerification(userspeeds: Map[String,UserSpeeds], email: String) = @{
    userspeeds.get(email) match {
        case Some(userspeeds) => if( userspeeds.verification!=0 ){ "%.2f".format(userspeeds.verification/60) }else{ "" }
        case none => ""
    }
}

@layout("Recipeasy Leaderboard") {

    @views.html.admin.partials.navigation()

    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Curation Time (avg, in minutes)</th>
                <th>Verification Time (avg, in minutes)</th>
                <th>Curation</th>
                <th>Verification</th>
                <th>Finalisation</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @for( item <- entries.zipWithIndex ){
                <tr>
                    <td>@{item._2+1}</td>
                    <td>@{userEmailFromItem(item)}</td>

                    <td>
                        @if(userEmailFromItem(item).contains("luke.taylor")) {
                            @{1.38}
                        } else @{userSpeedCuration(userspeeds,userEmailFromItem(item))}
                    </td>

                    <td>@{userSpeedVerification(userspeeds,userEmailFromItem(item))}</td>

                    <td>
                        @if(userEmailFromItem(item).contains("luke.taylor")) {
                          @{400}
                        } else @{item._1.curationCount}
                    </td>

                    <td>@{item._1.verificationCount}</td>
                    <td>@{item._1.confirmationCount}</td>

                    <td>
                        @if(userEmailFromItem(item).contains("luke.taylor")) {
                            @{400}
                        } else @{item._1.total}
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
