@import com.gu.recipeasy.models._
@(entries: List[LeaderboardEntry])(implicit messages: play.api.i18n.Messages, request: RequestHeader)
@layout("Recipeasy Leaderboard") {

    <a href="@{routes.Application.adminLandingPage}">Admin Home</a>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Curation</th>
                <th>Verification</th>
                <th>Finalisation</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

            @for( item <- entries.zipWithIndex ){
                <tr>
                    <td>@{item._2+1}</td>
                    <td>@{item._1.userEmail}</td>
                    <td>@{item._1.curationCount}</td>
                    <td>@{item._1.verificationCount}</td>
                    <td>@{item._1.confirmationCount}</td>
                    <td>@{item._1.total}</td>
                </tr>
            }
        </tbody>
    </table>
}
