@import com.gu.recipeasy.models._
@(distribution: Map[RecipeStatus,Long])(implicit messages: play.api.i18n.Messages, request: RequestHeader)
@layout("Status Distribution") {

    <a href="@{routes.Admin.adminLandingPage}">Admin Home</a>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Status Name</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>New</td>
                <td>@distribution(RecipeStatusNew)</td>
            </tr>
            <tr>
                <td>Ready</td>
                <td>@distribution(RecipeStatusReady)</td>
            </tr>
            <tr>
                <td>Pending Curation</td>
                <td>@distribution(RecipeStatusPendingCuration)</td>
            </tr>
            <tr>
                <td>Curated</td>
                <td>@distribution(RecipeStatusCurated)</td>
            </tr>
            <tr>
                <td>Pending Verification</td>
                <td>@distribution(RecipeStatusPendingVerification)</td>
            </tr>
            <tr>
                <td>Verified</td>
                <td>@distribution(RecipeStatusVerified)</td>
            </tr>
            <tr>
                <td>Pending Finalisation</td>
                <td>@distribution(RecipeStatusPendingFinalisation)</td>
            </tr>
            <tr>
                <td>Finalised</td>
                <td>@distribution(RecipeStatusFinalised)</td>
            </tr>
            <tr>
                <td>Impossible</td>
                <td>@distribution(RecipeStatusImpossible)</td>
            </tr>
        </tbody>
    </table>
}