@import com.gu.recipeasy.models._
@import com.gu.recipeasy.views
@(userEmails: List[String])(implicit messages: play.api.i18n.Messages, request: RequestHeader)
@layout("Recipeasy Users") {

    @views.html.admin.partials.navigation()

    <table class="table">
        <thead>
            <tr>
                <th>email address</th>
            </tr>
        </thead>
        <tbody>
            @for(email <- userEmails) {
                <tr>
                    <td>@{email}</td>
                </tr>
            }
        </tbody>
    </table>

}