@(curatedRecipeForm: Form[controllers.Application.CuratedRecipeForm])(implicit messages: play.api.i18n.Messages)
@implicitFC = @{ b3.vertical.fieldConstructor }
@import com.gu.recipeasy.models.Tag
@diet = @{ curatedRecipeForm("tags")("diet") }

@layout("Recipeasy"){
    @b3.form(routes.Application.curateRecipe) {
        <div class="row">
            <div class="col-md-10 col-md-offset-1 column">
                @b3.text( curatedRecipeForm("title"), '_label -> "Recipe title")
                <div class="flex field__serves">
                    @b3.number( curatedRecipeForm("servesFrom"), '_label -> "Serves from")
                    @b3.number( curatedRecipeForm("servesTo"), '_label -> "to")
                </div>
                @b3.text( curatedRecipeForm("credit"), '_label -> "Author")
                @b3.number( curatedRecipeForm("timePreparation"), '_label -> "Preparation time", 'placeholder -> "time in minutes", 'min -> 0, 'step -> 5)
                @b3.number( curatedRecipeForm("timeCooking"), '_label -> "Cooking time", 'placeholder -> "time in minutes", 'min -> 0, 'step -> 5)
                @bootstrap3.multiIngredientsList(curatedRecipeForm("ingredientsLists"))('_label -> "Ingredients")
                @bootstrap3.multiStep(
                    curatedRecipeForm("steps"), curatedRecipeForm
                    )('_label -> "Method steps")
                @bootstrap3.multiCheckbox(
                    (diet("lowSugar"), Seq('_text -> "low sugar")),
                    (diet("lowFat"), Seq('_text -> "low fat")),
                    (diet("highFibre"), Seq('_text -> "high fibre")),
                    (diet("nutFree"), Seq('_text -> "nut free")),
                    (diet("glutenFree"), Seq('_text -> "gluten free")),
                    (diet("dairyFree"), Seq('_text -> "dairy free")),
                    (diet("eggFree"), Seq('_text -> "egg free")),
                    (diet("vegetarian"), Seq('_text -> "vegetarian")),
                    (diet("vegan"), Seq('_text -> "vegan"))
                )('_label -> "Diets", 'class -> "multi-checkbox-list inline")
                @bootstrap3.multiTag(curatedRecipeForm("tags")("cuisine"), curatedRecipeForm)(Tag.cuisines, "cuisine", '_label -> "Cuisine type")
                @bootstrap3.multiTag(curatedRecipeForm("tags")("mealType"), curatedRecipeForm)(Tag.mealTypes, "mealType", '_label -> "Meal type")
                @bootstrap3.multiTag(curatedRecipeForm("tags")("holiday"), curatedRecipeForm)(Tag.holidays, "holiday", '_label -> "Holiday")
                @b3.text( curatedRecipeForm("status"), '_label -> "Recipe status", 'readonly -> "readonly")
                @b3.submit('class -> "btn btn-primary btn-block") { Submit Recipe }
            </div>
        </div>
    }

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="@routes.Assets.versioned("javascript/editForm.js")" type="text/javascript"></script>
}

