@import com.gu.recipeasy.models._
@(curatedRecipeForm: Form[models.CuratedRecipeForm],
        recipeId: String,
        body: String,
        articleId: String,
        shouldShowButtons: Boolean,
        images: List[ImageDB],
        status: RecipeStatus)(implicit messages: play.api.i18n.Messages, request: RequestHeader)
@import helper.CSRF
@implicitFC = @{ b4.vertical.fieldConstructor }
@link = @{ "https://www.theguardian.com/" + articleId }
@pageTopMessage(status: RecipeStatus) = @{
    status match {
        case New        => "Creation, pass 1 of 3."
        case Pending    => "Creation, pass 1 of 3."
        case Curated    => "Verification, pass 2 of 3."
        case Verified   => "Final Check, pass 3 of 3."
        case Finalised  => "Final Check, pass 3 of 3."
        case _ => ""
    }
}
@showSkipThisRecipeButton(status: RecipeStatus) = @{
    status match {
        case New     => true
        case Pending => true
        case _       => false
    }
}
@topBannerStatusClass(status: RecipeStatus) = @{
    status match {
        case New        => "top-banner-phase-creation"
        case Pending    => "top-banner-phase-creation"
        case Curated    => "top-banner-phase-verification"
        case Verified   => "top-banner-phase-final"
        case Finalised  => "top-banner-phase-final"
        case _ => ""
    }
}

@layout("Recipeasy"){

<div class="row">
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <a class="navbar-brand" href="/">Recipeasy</a> &nbsp;
        <span class="navbar-text float-xs-left">
            @pageTopMessage(status)
            @if(status==Curated){You are verifying the quality of the original curation}
            @if(status==Verified){Final opportunity for corrections. Could you cook this?}
        </span>
        <form class="form-inline float-xs-right">
            <a href="@routes.Application.tutorial" target="_blank" class="btn btn-sm align-middle btn-info" role="button">Tutorial</a>
            @if(showSkipThisRecipeButton(status)){
                <a href="@routes.Application.curateOneRecipeInReadyStatus" class="btn btn-sm align-middle btn-warning" role="button">Skip this recipe</a>
            }
            <a href="@link" target="_blank" class="btn btn-sm align-middle btn-primary" role="button">View article</a>
        </form>
    </nav>
</div>

<div class="recipe container-fluid">
    <div class="row">
        <div class="recipe__original col-md-5">

            <h2>Original recipe from theguardian.com</h2>
            <hr>
            <h4><b>Recipe title</b>: @curatedRecipeForm("title").value</h4>
            <div id="recipe-html-body">
            @Html(body)
            </div>
            <hr>
            <h2>Images</h2>
            @for(image <- images){
                <figure data-media-id="@image.mediaId" class="suggested-image">
                    <span class="suggested-image__add">Add to recipe</span>
                    <figcaption>@image.altText</figcaption>
                    <img src="@image.assetUrl">
                </figure>
            }
        </div>
        <div class="recipe__form col-md-7 offset-md-5">
        <h2>Structured Recipe</h2>
                <br>
                <hr />
        @b4.form(routes.Application.postCuratedRecipe(recipeId)) {
                    @CSRF.formField
                    <h2>Basic information</h2>
                    @b4.text( curatedRecipeForm("title"), '_label -> "Recipe title", 'class -> "form-control-sm")
                    @b4.text( curatedRecipeForm("credit"), '_label -> "Chef/Cook", 'class -> "form-control-sm typeahead")
                <div class="flex wrap-children">
                    @helpers.multiTag(curatedRecipeForm("tags")("cuisine"), curatedRecipeForm)(Tag.cuisines, "cuisine", '_label -> "Cuisines")
                    @helpers.multiTag(curatedRecipeForm("tags")("category"), curatedRecipeForm)(Tag.category, "category", '_label -> <span>Category <small class="text-muted">Select more than one, if appropriate</small></span>)
                    <div style="display:none">
                        @helpers.multiTag(curatedRecipeForm("tags")("holiday"), curatedRecipeForm)(Tag.holidays, "holiday", '_label -> "Holidays")
                        @helpers.multiTag(curatedRecipeForm("tags")("dietary"), curatedRecipeForm)(Tag.dietary, "dietary", '_label -> "Dietary")
                    </div>
                </div>
                <hr>
                <h3>Timings<small class="text-muted"> Optional <br> Don't add up individual times! Only complete if a single time is explicitly mentioned in the source recipe</small></h3>
                <div class="flex field__times">
                        <div>
                            <label class="">Preparation time</label>
                            <div class="flex">
                                @b4.number( curatedRecipeForm("times")("preparationHours"), '_label -> "hours", 'placeholder -> "00", 'min -> 0, 'class -> "form-control-sm width-80")
                                @b4.number( curatedRecipeForm("times")("preparationMinutes"), '_label -> "minutes", 'placeholder -> "00", 'min -> 0, 'class -> "form-control-sm width-80")
                            </div>
                        </div>
                        <div>
                            <label class="">Cooking time</label>
                            <div class="flex">
                                @b4.number( curatedRecipeForm("times")("cookingHours"), '_label -> "hours", 'placeholder -> "00", 'min -> 0, 'class -> "form-control-sm width-80")
                                @b4.number( curatedRecipeForm("times")("cookingMinutes"), '_label -> "minutes", 'placeholder -> "00", 'min -> 0, 'class -> "form-control-sm width-80")
                            </div>
                        </div>
                    </div>
                    <h2>Servings</h2>
                    <label><input type="checkbox" id="field__serves-checkbox"> No serving information</label><br>
                    <div class="field__serves flex">
                        @b4.radio( curatedRecipeForm("serves")("portionType"),  options = Seq("ServesType" -> "Serves", "MakesType" -> "Makes"), '_inline -> true, 'label -> "Portion")
                        <div class="flex field__serves__quantity">
                            @b4.number( curatedRecipeForm("serves")("quantity")("from"), 'class -> "form-control-sm")
                            <label class="field__serves__quantity__label">to</label>
                            @b4.number( curatedRecipeForm("serves")("quantity")("to"), 'class -> "form-control-sm")
                        </div>
                    </div>
                    <hr>
                    <h2>Ingredients lists</h2>
                <div class="alert alert-info" role="alert">
                       Select a list of ingredients from the original recipe and press
                           <!-- <kbd>i</kbd> to add a single ingredient and -->
                           <kbd>l</kbd> to add as a structured list. <strong><a href="https://www.youtube.com/watch?v=4fiJ4wrNhc4&index=2&list=PLvV2Hc8T4TNeDiGD7IYYIRC2OciOWAmAW" target="_blank">🎬 Watch a video demo</a></strong>
                </div>
                    @helpers.multiIngredientsList(curatedRecipeForm("ingredientsLists"), curatedRecipeForm)()
                    <div class="flex centre-children">
                        @b4.button('class -> "btn btn-info center-block ingredients-list__button-add") { <i class="fa fa-plus" aria-hidden="true"></i> Add another ingredient list }
                    </div>
                        <hr />
                    <h2>Method
                        <small class="text-muted"> Remove '1', '2', '3' etc from text</small>
                    </h2>
                         <div class="alert alert-info" role="alert">
                             Select source text and press <kbd>m</kbd> to add as a method step. <strong><a href="https://www.youtube.com/watch?v=4fiJ4wrNhc4&index=2&list=PLvV2Hc8T4TNeDiGD7IYYIRC2OciOWAmAW" target="_blank">🎬 Watch a video demo</a></strong>
                         </div>

                    @helpers.multiStep( curatedRecipeForm("steps"), curatedRecipeForm)()
                    <hr>
                    <h2>Images
                        <small class="text-muted">Select an image of the dish from the left-hand column</small>
                    </h2>
                    @helpers.multiImage(curatedRecipeForm("images"), curatedRecipeForm)()
                    <hr>
                    <div class="flex centre-children">
                        @if(shouldShowButtons: Boolean) {
                            @b4.submit('class -> "btn btn-primary center-block") { Submit Recipe }
                        }
                    </div>
        }
        </div>
    </div>

    <div class="container">
        <nav class="navbar navbar-fixed-bottom navbar-light bg-warning">
        Select text and then press:
        <!--
        <kbd>i</kbd> add a single <strong>i</strong>ngredient to list
        -->
        <kbd>l</kbd> or <kbd>L</kbd> add as <strong>l</strong>ist of ingredients
        <kbd>m</kbd> add as <strong>m</strong>ethod step. <strong><a href="https://www.youtube.com/watch?v=4fiJ4wrNhc4&index=2&list=PLvV2Hc8T4TNeDiGD7IYYIRC2OciOWAmAW" target="_blank">🎬 Watch a video demo</a></strong>
        </nav>
    </div>

    <script src="@routes.Assets.versioned("javascript/jquery.selection.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascript/mousetrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascript/typeahead.jquery.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascript/jquery.unevent.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascript/credits.json")" type="application/json"></script>
    <script src="@routes.Assets.versioned("javascript/editForm.js")" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

}
