@(recipe: controllers.Application.CuratedRecipeForm, curatedRecipeForm: Form[controllers.Application.CuratedRecipeForm])(implicit messages: play.api.i18n.Messages)
@implicitFC = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@layout("Recipeasy"){
@b3.form(routes.Application.curateRecipe) {
    <div class="row">
        <div class="col-md-6 col-md-offset-2 column">
            @b3.text( curatedRecipeForm("title"), '_label -> "Title", 'value -> recipe.title)
            @b3.number( curatedRecipeForm("servesFrom"), '_label -> "serves from", 'value -> recipe.servesFrom)
            @b3.number( curatedRecipeForm("servesTo"), '_label -> "serves to", 'value -> recipe.servesTo)
            @b3.text( curatedRecipeForm("credit"), '_label -> "author", 'value -> recipe.credit)
            @bootstrap3.multiCheckbox(
                (curatedRecipeForm("lowSugar"), Seq('_text -> "low sugar")),
                (curatedRecipeForm("lowFat"), Seq('_text -> "low fat")),
                (curatedRecipeForm("highFibre"), Seq('_text -> "high fibre")),
                (curatedRecipeForm("nutFree"), Seq('_text -> "nut free")),
                (curatedRecipeForm("glutenFree"), Seq('_text -> "gluten free")),
                (curatedRecipeForm("dairyFree"), Seq('_text -> "dairy free")),
                (curatedRecipeForm("eggFree"), Seq('_text -> "egg free")),
                (curatedRecipeForm("vegetarian"), Seq('_text -> "vegetarian")),
                (curatedRecipeForm("vegan"), Seq('_text -> "vegan"))
            )('_label -> "Diets", 'class -> "multi-checkbox-list inline")
            <button type="submit">Create widget</button>
        </div>
    </div>
    }
}

