@()(implicit messages: play.api.i18n.Messages, request: RequestHeader)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipeasy</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
    <link href="/assets/stylesheets/main.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/stylesheets/typeaheadjs.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <a class="navbar-brand" href="#">Recipeasy &nbsp;</a>
        <span class="navbar-text float-xs-left" id="T001">
            Creation, pass 1 of 3.
        </span>
        <form class="form-inline float-xs-right">
                <button class="btn btn-sm align-middle btn-warning" type="button" id="T002">Skip this recipe</button>
            <a href="https://www.theguardian.com/lifeandstyle/2016/oct/15/one-pot-recipes-meat-grain-lamb-rice-chicken-freekeh-beef-short-rib-barley-yotam-ottolenghi" target="_blank" class="btn btn-sm align-middle btn-primary" role="button" id="T003">View article</a>
        </form>
    </nav>
</div>
<div class="recipe container-fluid">
    <div class="row">
        <div class="recipe__original col-md-5">
            <h2>Please fill in the form with this recipe</h2>
            <hr>
            <h4 id="T004">Chicken with dates, saffron and freekeh</h4>
            <figure class="element element-image" data-media-id="6db2885a1a6843cd49ab2f50bbdc57ef9e349719"> 
 <img src="https://media.guim.co.uk/6db2885a1a6843cd49ab2f50bbdc57ef9e349719/0_264_1338_803/1000.jpg" alt="Yotam Ottolenghi’s chicken with dates, saffron and freekeh." width="1000" height="600" class="gu-image"> 
                <figcaption> 
                    <span class="element-image__caption">Yotam Ottolenghi’s chicken with dates, saffron and freekeh.</span> 
                    <span class="element-image__credit">Photograph: Louise Hagger for the Guardian. Food styling: Emily Kydd. Prop styling: Jennifer Kay</span> 
                </figcaption> 
            </figure>
            <p>Freekeh is wheat that’s harvested while still green and not completely dry, and then roasted. It infuses any dish with a hint of smokiness. Serves four.</p>
            <p><strong>8 chicken thighs, skin on and on the bone<br></strong><strong>2 tsp paprika<br></strong><strong>¾ tsp ground cinnamon<br></strong><strong>Salt and freshly ground black pepper<br></strong><strong>2 tbsp olive oil<br></strong><strong>2 medium onions, peeled and cut into 2cm-wide wedges<br></strong><strong>3 small cinnamon sticks<br></strong><strong>3 wide strips orange peel<br></strong><strong>3 bay leaves<br></strong><strong>10 cardamom pods, lightly bruised<br></strong><strong>250g freekeh, rinsed<br></strong><strong>6 medjool dates, quartered lengthways and stoned<br></strong><strong>¼ tsp saffron threads<br></strong><strong>500ml chicken stock<br></strong><strong>25g flaked almonds, toasted<br></strong><strong>5g mint leaves, roughly shredded<br></strong><strong>180g Greek yoghurt, to serve (optional)</strong></p>
            <p>Put the chicken in a large bowl, sprinkle over the paprika, ground cinnamon, three-quarters of a teaspoon of salt and plenty of pepper. Rub the seasoning all over the chicken, then put in the fridge to marinate for an hour and a half.</p>
            <p>Heat the oil in a large saute pan for which you have a lid on a medium-high flame, then fry the chicken for 10 minutes, turning them halfway through, until the skin is dark golden-brown. Transfer the chicken to a plate and discard all but two tablespoons of the oil in the pan.</p>
            <aside class="element element-rich-link"> 
            <p> <span>Related: </span><a href="https://www.theguardian.com/lifeandstyle/2016/oct/08/pepper-recipes-yotam-ottolenghi-feta-tart-stuffed-lamb-and-egg-roast">Yotam Ottolenghi’s pepper recipes</a> </p> 
            </aside>
            <p>Turn up the heat to high, then fry the onions for six to seven minutes, stirring frequently, until slightly charred. Turn down the heat to medium, add the cinnamon, orange, bay and cardamom, and fry for three minutes, until the onions are soft and the spices are aromatic. Stir in the freekeh, dates, saffron, stock, 100ml water and three-quarters of a teaspoon of salt, then return the chicken to the pan so it sinks into the freekeh a little but is not entirely submerged.</p>
            <p>Once the pot comes to a boil, turn down the heat to medium-low, cover and simmer for 35 minutes, until the freekeh and chicken are cooked. Raise the heat, remove the lid and leave to bubble away for two to three minutes more, until the grain has absorbed most of the liquid. Take the pot off the heat, sprinkle with the almonds and mint, and serve at once.</p>
            <p>• Yotam Ottolenghi is chef/patron of <a href="http://www.ottolenghi.co.uk">Ottolenghi</a> and <a href="http://www.nopi-restaurant.com">Nopi</a> in London.</p>
            <hr>
                    <h2>Images</h2>
                    <figure data-media-id="f0142a13ecdc4cd3a928f6a02fde9d8f62f08cd1" class="suggested-image">
                    <span class="suggested-image__add">Add to recipe</span>
                    <img src="https://media.guim.co.uk/f0142a13ecdc4cd3a928f6a02fde9d8f62f08cd1/0_986_3275_1965/master/3275.jpg">
                    <figcaption>Yotam Ottolenghi&#x27;s Greek lamb shanks with rice and lemon.</figcaption>
                    </figure>

                    <figure data-media-id="6db2885a1a6843cd49ab2f50bbdc57ef9e349719" class="suggested-image">
                    <span class="suggested-image__add">Add to recipe</span>
                    <img src="https://media.guim.co.uk/6db2885a1a6843cd49ab2f50bbdc57ef9e349719/0_264_1338_803/master/1338.jpg">
                    <figcaption>Yotam Ottolenghi’s chicken with dates, saffron and freekeh.</figcaption>
                    </figure>
                    </div>
                    <div class="recipe__form col-md-7 offset-md-5">
                    <form action="/recipe/curate/b2503931bbeb34f17dffe0249eb0e0fb" method="POST" class="form-vertical " role="form">
                    <input type="hidden" name="csrfToken" value="fc17e14ead9fae8aaefb7b431f9fa23a154f0489-1479820178072-af872dcdec9ec1a6886fc06c"/>
                    <h2 id="T005">Basic information</h2>
                    <fieldset class="form-group   " id="title_field">
                        <label class="control-label" for="title">Recipe title</label>
                        <input type="text" id="title" name="title" value="Chicken with dates, saffron and freekeh" maxlength="200" required="true" class="form-control form-control-sm">
                    </fieldset>
                    <fieldset class="form-group   " id="credit_field">
                        <label class="control-label" for="credit">Chef/Cook</label>
                        <input type="text" id="credit" name="credit" value="Yotam Ottolenghi" maxlength="200" class="form-control form-control-sm typeahead">
                    </fieldset>
                    <div class="flex field__times">
                    <div>
                    <label class="">Preparation time</label>
                    <div class="flex">
                    <fieldset class="form-group   " id="times_preparationHours_field">
                        <label class="control-label" for="times_preparationHours">hours</label>
                        <input type="number" id="times_preparationHours" name="times.preparationHours" value="0" class="form-control form-control-sm width-80" placeholder="00" min="0">
                    </fieldset>
                    <fieldset class="form-group   " id="times_preparationMinutes_field">
                        <label class="control-label" for="times_preparationMinutes">minutes</label>
                        <input type="number" id="times_preparationMinutes" name="times.preparationMinutes" value="0" class="form-control form-control-sm width-80" placeholder="00" min="0">
                    </fieldset>
                    </div>
                    </div>
                    <div>
                    <label class="">Cooking time</label>
                    <div class="flex">
                    <fieldset class="form-group   " id="times_cookingHours_field">
                        <label class="control-label" for="times_cookingHours">hours</label>
                        <input type="number" id="times_cookingHours" name="times.cookingHours" value="0" class="form-control form-control-sm width-80" placeholder="00" min="0">
                    </fieldset>
                    <fieldset class="form-group   " id="times_cookingMinutes_field">
                        <label class="control-label" for="times_cookingMinutes">minutes</label>
                        <input type="number" id="times_cookingMinutes" name="times.cookingMinutes" value="0" class="form-control form-control-sm width-80" placeholder="00" min="0">
                    </fieldset>
                    </div>
                    </div>
                    </div>
                    <h2>Servings</h2>
                    <label><input type="checkbox" id="field__serves-checkbox"> No serving information</label><br>
                    <div class="field__serves flex">
                    <fieldset class="form-group   " id="serves_portionType_field">
                        <label class="radio-inline" for="serves_portionType_ServesType">
                        <input type="radio" id="serves_portionType_ServesType" name="serves.portionType" value="ServesType" checked label="Portion">
                        Serves
                        </label>
                        <label class="radio-inline" for="serves_portionType_MakesType">
                        <input type="radio" id="serves_portionType_MakesType" name="serves.portionType" value="MakesType" label="Portion">
                        Makes
                        </label>
                    </fieldset>
                    <div class="flex field__serves__quantity">
                    <fieldset class="form-group   " id="serves_quantity_from_field">
                        <input type="number" id="serves_quantity_from" name="serves.quantity.from" value="4" min="1" class="form-control form-control-sm">
                    </fieldset>
                    <label class="field__serves__quantity__label">to</label>
                    <fieldset class="form-group   " id="serves_quantity_to_field">
                        <input type="number" id="serves_quantity_to" name="serves.quantity.to" value="4" min="1" class="form-control form-control-sm">
                    </fieldset>
                    </div>
                    </div>
                    <hr>
                    <h2 id="T007">Ingredients lists</h2>
                    <fieldset class="form-group " >
                        <div class="ingredients-lists" >
                        <div class="ingredients-list">
                        <label>List title</label>
                        <div class="flex">
                        <input type="text" id="ingredientsLists_0_title" name="ingredientsLists[0].title" value="" class="form-control ingredients-list__title" placeholder="e.g. for the pastry, for the sauce">
                        <button type="button" class="btn btn-default btn-sm button-remove ingredients-list__button-remove"> <i class="fa fa-times" aria-hidden="true"></i> </button>
                        </div>
                        <div  class="ingredients">
                        <div class="ingredient">
                        <div class="flex space-children">
                        <span><strong>original ingredient</strong></span>
                        <span class="ingredient__detail__parsed-ingredient__edit-button text-primary" style="">edit</span>
                        <input type="text" id="ingredientsLists_0_ingredients_0_raw" name="ingredientsLists[0].ingredients[0].raw" value="" class="form-control ingredient__detail ingredient__detail__parsed-ingredient form-control-sm form-hidden">
                        <button type="button" class="btn btn-default btn-sm button-remove ingredient__button-remove"> <i class="fa fa-times" aria-hidden="true"></i> </button>
                        </div>
                        <div class="flex small-children">
                        <input type="number" id="ingredientsLists_0_ingredients_0_quantity" name="ingredientsLists[0].ingredients[0].quantity" value="" class="form-control ingredient__detail ingredient__detail__quantity flex__small form-control-sm" step="0.25" min="0">
                        <select id="ingredientsLists_0_ingredients_0_unit" name="ingredientsLists[0].ingredients[0].unit" class="form-control ingredient__detail ingredient__detail__unit form-control-sm">
                        <option value="" ></option>
                        <optgroup label="Weights">  
                        <option value="cup" >Cup</option>  
                        <option value="g" >Gram (g)</option>  
                        <option value="kg" >Kilogram (kg)</option>  
                        <option value="oz" >Ounce (oz)</option>  
                        <option value="lb" >Pound (lb)</option>  </optgroup>
                        <optgroup label="Liquids">  
                        <option value="bottle" >Bottle</option>  
                        <option value="floz" >Fluid Ounce (fl oz)</option>  
                        <option value="l" >Litre (l)</option>  
                        <option value="ml" >Millilitre (ml)</option>  </optgroup>
                        <optgroup label="Spoons">  
                        <option value="dsp" >Dessert spoon (dsp)</option>  
                        <option value="tbsp" >Tablespoon (tbsp)</option>  
                        <option value="tsp" >Teaspoon (tsp)</option>  </optgroup>
                        <optgroup label="Natural">  
                        <option value="bunch" >Bunch</option>  
                        <option value="clove" >Clove</option>  
                        <option value="piece" >Piece</option>  
                        <option value="sprig" >Sprig</option>  
                        <option value="stick" >Stick</option>  </optgroup>
                        <optgroup label="By Hand">  
                        <option value="dash" >Dash</option>  
                        <option value="pinch" >Pinch</option>  
                        <option value="grating" >Grating</option>  
                        <option value="handful" >Handful</option>  
                        <option value="slice" >Slice</option>  </optgroup>
                        <optgroup label="Packaged">  
                        <option value="can" >Can</option>  
                        <option value="Packet" >Packet</option>  
                        <option value="sheet" >Sheet</option>  </optgroup>
                        <optgroup label="Lengths">  
                        <option value="cm" >Centimetre (cm)</option>  
                        <option value="inch" >Inch (in)</option>  
                        <option value="mm" >Millimetres (mm)</option>  </optgroup>
                        </select>
                        <input type="text" id="ingredientsLists_0_ingredients_0_item" name="ingredientsLists[0].ingredients[0].item" value="" class="form-control ingredient__detail ingredient__detail__item form-control-sm" placeholder="ingredient" required="true">
                        <input type="text" id="ingredientsLists_0_ingredients_0_comment" name="ingredientsLists[0].ingredients[0].comment" value="" class="form-control ingredient__detail ingredient__detail__comment form-control-sm" placeholder="comment">
                        </div>
                        </div>
                        </div>
                        <div class="flex centre-children">
                        <button type="button" class="btn btn-outline-info btn-sm button-add ingredient__button-add"> <i class="fa fa-plus" aria-hidden="true"></i> Add ingredient</button>
                        </div>
                        <hr>
                        </div>
                        </div>
                    </fieldset>
                    <div class="flex centre-children">
                    <fieldset class="form-group">
                        <button type="button" class="btn btn-info center-block ingredients-list__button-add"> <i class="fa fa-plus" aria-hidden="true"></i> Add another ingredient list </button>
                    </fieldset>
                    </div>
                    <hr />
                    <h2 id="T008">Method
                    <small class="text-muted">(Remove '1', '2', '3' etc from text)</small>
                    </h2>
                    <fieldset class="form-group">
                        <!--changes to this div must be replicated in addStep.js -->
                        <div class="steps" >
                        <div class="step">
                        <span class="step__number">1.</span>
                        <div class="flex">
                        <textarea id="steps_0" name="steps[0]" class="form-control">chicken thighs, skin on and on the bone 2 tsp paprika ¾ tsp ground cinnamon Salt and freshly ground black pepper 2 tbsp olive oil 2 medium onions, peeled and cut into 2cm-wide wedges 3 small cinnamon sticks 3 wide strips orange peel 3 bay leaves 10 cardamom pods, lightly bruised 250g freekeh, rinsed 6 medjool dates, quartered lengthways and stoned ¼ tsp saffron threads 500ml chicken stock 25g flaked almonds, toasted 5g mint leaves, roughly shredded 180g Greek yoghurt, to serve (optional)</textarea>
                        <button type="button" class="btn btn-outline-default btn-sm button-remove step__button-remove"> <i class="fa fa-times" aria-hidden="true"></i> </button>
                        </div>
                        <div class="flex centre-children">
                        <button type="button" class="btn btn-outline-info btn-sm button-add step__button-add"> <i class="fa fa-plus" aria-hidden="true"></i> Insert a step</button>
                        </div>
                        </div>
                        </div>
                    </fieldset>
                    <hr>
                    <h2 id="T009">Images
                        <small class="text-muted">Select an image from the left-hand column</small>
                    </h2>
                    <fieldset class="form-group " >
                        <!--changes to this div must be replicated in addStep.js -->
                        <div class="curated-images flex wrap-children space-children" >
                        </div>
                    </fieldset>
                    <hr>
                    <h2 id="T010">Additional information</h2>
                    <div class="flex wrap-children">
                    <fieldset class="form-group " >
                        <label class="control-label">Cuisines</label>
                        <div class="flex tags" >
                        <select id="tags_cuisine" name="tags.cuisine[]" data-style="btn-secondary" data-icon-base="fa" class="form-control selectpicker" multiple="true" data-tick-icon="fa-check">
                        <option value="African" >African</option>
                        <option value="British" >British</option>
                        <option value="Caribbean" >Caribbean</option>
                        <option value="French" >French</option>
                        <option value="Greek" >Greek</option>
                        <option value="Indian" >Indian</option>
                        <option value="Irish" >Irish</option>
                        <option value="Italian" >Italian</option>
                        <option value="Japanese" >Japanese</option>
                        <option value="Mexican" >Mexican</option>
                        <option value="Nordic" >Nordic</option>
                        <option value="North African" >North African</option>
                        <option value="Portuguese" >Portuguese</option>
                        <option value="South American" >South American</option>
                        <option value="Spanish" >Spanish</option>
                        <option value="Thai and South East Asian" >Thai and South East Asian</option>
                        </select>
                        </div>
                    </fieldset>
                    <fieldset class="form-group " >
                        <label class="control-label">Category</label>
                        <div class="flex tags" >
                        <select id="tags_category" name="tags.category[]" data-style="btn-secondary" data-icon-base="fa" class="form-control selectpicker" multiple="true" data-tick-icon="fa-check">
                        <option value="Baking" >Baking</option>
                        <option value="Barbecue" >Barbecue</option>
                        <option value="Breakfast" >Breakfast</option>
                        <option value="Budget" >Budget</option>
                        <option value="Canapes" >Canapes</option>
                        <option value="Dessert" >Dessert</option>
                        <option value="Dinner party" >Dinner party</option>
                        <option value="Drinks and cockails" >Drinks and cockails</option>
                        <option value="Healthy eating" >Healthy eating</option>
                        <option value="Lunch" >Lunch</option>
                        <option value="Main course" >Main course</option>
                        <option value="Picnic" >Picnic</option>
                        <option value="Sides" >Sides</option>
                        <option value="Snacks" >Snacks</option>
                        <option value="Starters" >Starters</option>
                        </select>
                        </div>
                    </fieldset>
                    <fieldset class="form-group " >
                        <label class="control-label">Holidays</label>
                        <div class="flex tags" >
                            <select id="tags_holiday" name="tags.holiday[]" data-style="btn-secondary" data-icon-base="fa" class="form-control selectpicker" multiple="true" data-tick-icon="fa-check">
                            <option value="Baisakhi" >Baisakhi</option>
                            <option value="Christmas" >Christmas</option>
                            <option value="Diwali" >Diwali</option>
                            <option value="Easter" >Easter</option>
                            <option value="Eid" >Eid</option>
                            <option value="Halloween" >Halloween</option>
                            <option value="Hanukkah" >Hanukkah</option>
                            <option value="Passover" >Passover</option>
                            <option value="Thanksgiving" >Thanksgiving</option>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset class="form-group " >
                        <label class="control-label">Dietary</label>
                        <div class="flex tags" >
                            <select id="tags_dietary" name="tags.dietary[]" data-style="btn-secondary" data-icon-base="fa" class="form-control selectpicker" multiple="true" data-tick-icon="fa-check">
                                <option value="Low sugar" >Low sugar</option>
                                <option value="Low fat" >Low fat</option>
                                <option value="High fibre" >High fibre</option>
                                <option value="Nut free" >Nut free</option>
                                <option value="Gluten free" >Gluten free</option>
                                <option value="Dairy free" >Dairy free</option>
                                <option value="Egg free" >Egg free</option>
                                <option value="Vegetarian" >Vegetarian</option>
                                <option value="Vegan" >Vegan</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
                <hr>
                <div class="flex centre-children">
                    <fieldset class="form-group " >
                        <button type="submit" class="btn btn-primary center-block" id="T011"> Submit Recipe </button>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
    <div class="container" id="T006">
        <nav class="navbar navbar-fixed-bottom navbar-light bg-warning">
        Select text and then press:
        <kbd>i</kbd> add a single <strong>i</strong>ngredient to list
        <kbd>l</kbd> add as <strong>l</strong>ist of ingredients
        <kbd>m</kbd> add as <strong>m</strong>ethod step
        </nav>
    </div>
    <script src="/assets/javascript/jquery.selection.js" type="text/javascript"></script>
    <script src="/assets/javascript/mousetrap.min.js" type="text/javascript"></script>
    <script src="/assets/javascript/typeahead.jquery.js" type="text/javascript"></script>
    <script src="/assets/javascript/jquery.unevent.js" type="text/javascript"></script>
    <script src="/assets/javascript/credits.json" type="application/json"></script>
    <script src="/assets/javascript/editForm.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

    <!-- Tutorial Support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour-standalone.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour-standalone.min.css">

    <script type="text/javascript">

        $( document ).ready(function() {

            // Instance the tour
            var tour = new Tour({
                steps: [
                    {
                        element: "#T001",
                        title: "What stage you're at",
                        content: "This indicates which of the three curation steps you are currently performing: Curation, Verification or Final Check"
                    },
                    {
                        element: "#T002",
                        title: "Skip Recipe",
                        content: "If the recipe is particularly complex or is wrong, click this button"
                    }
                    {
                        element: "#T003",
                        title: "View original",
                        content: "Opens the original article in a new window to help you verify"
                    }
                    {
                        element: "#T004",
                        title: "Source recipe",
                        content: "The source recipe: this is what needs to be structured. Check it looks like a whole recipe"
                    }
                    
                    {
                        element: "#T005",
                        title: "Structured recipe",
                        content: "It's your job to capture the recipe into this form"
                    }
                    
                    {
                        element: "#T006",
                        title: "Keyboard shortcuts!",
                        content: "Sometimes, the recipe doesn't get correctly read. Selecting text and pressing i, l, or m will save huge amounts of time"
                    }
                    
                    {
                        element: "#T007",
                        title: "Ingredients",
                        content: "The majority of your time will be spent checking these. Ensure that comments is filled out with preparation instructions. For example \"8 chicken thighs, skin on and on the bone\" breaks down as \"8 chicken thighs\", with the comment as \"skin on and on the bone\""
                    }
                    
                    {
                        element: "#T008",
                        title: "Method",
                        content: "Break the method into manageable chunks, but don't over think or over split. Usually, paragraphs are good enough"
                    }
                    
                    {
                        element: "#T009",
                        title: "Image",
                        content: "Select an image of the dish from the left hand side, near the bottom"
                    }
                    
                    {
                        element: "#T010",
                        title: "Additional information",
                        content: "Complete this to the best of your knowledge. Don't worry too much about it"
                    }
                    
                    {
                        element: "#T011",
                        title: "Submit",
                        content: "Once you're happy, submit the recipe for the next step – verification"
                    }

                ]});

            // Initialize the tour
            tour.init();

            // Start the tour
            tour.start();

        });

    </script>

</body>
</html>
