@(field: Field, recipe: Form[models.CuratedRecipeForm])(o: Seq[String], fieldName: String, label: (Symbol,Any))(implicit fc: b4.B4FieldConstructor, messages: Messages)
@tags = @{field.indexes.map(i => field.apply(s"[$i]"))}
@fieldOptions = @{o.map(x => (x, x)).toSeq }

@b4.multifield(tags:_*)(Seq(label), Nil) { implicit cfc =>
    <div class="flex tags" @toHtmlArgs(bs.Args.inner(Seq(label)).toMap)>
            @b4.select(field, options=fieldOptions, 'multiple -> true, 'class -> "selectpicker")
    </div>
}
