@(field: Field )(globalArgs: (Symbol,Any)*)(implicit fc: b4.B4FieldConstructor,messages: Messages)
@list = @{field.indexes.map(i => field.apply(s"[$i]"))}
@import com.gu.recipeasy.models.CookingUnit
@weights = @{ CookingUnit.Weights }
@liquids = @{ CookingUnit.Liquids }
@spoons = @{ CookingUnit.Spoons }
@natural = @{ CookingUnit.Natural }
@byhand = @{ CookingUnit.ByHand }
@packaged = @{ CookingUnit.Packaged }
@lengths = @{ CookingUnit.Lengths }

@b4.multifield(list:_*)(globalArgs, Nil) { implicit cfc =>
  <div @toHtmlArgs(bs.Args.inner(globalArgs).toMap) class="ingredients">
    @if(list.isEmpty){
        <div class="ingredient">
            <div class="flex space-children" style="display:none;">
                <span><small>original ingredient</small></span>
                <span class="ingredient__detail__parsed-ingredient__edit-button text-primary" style="">edit</span>
                @b4.text(field("raw"), 'class -> "ingredient__detail ingredient__detail__parsed-ingredient form-control-sm form-hidden font-weight-bold")
                @b4.button('class -> "btn btn-default btn-sm button-remove ingredient__button-remove") { <i class="fa fa-times" aria-hidden="true"></i> }
            </div>
            <div class="flex small-children" style="align-items:flex-start">
                <div>
                    <div class="ingredient__single-measurement-field">
                        @b4.number(field("quantity"), 'class -> "ingredient__detail ingredient__detail__quantity width-80 form-control-sm", 'step -> 0.001, 'min -> 0, 'placeholder -> "amount")
                    </div>
                    <div class="ingredient__range-measurement-field">
                        <div class="flex">
                            @b4.number(field("quantityRangeFrom"), 'class -> "ingredient__detail ingredient__detail__quantityRangeFrom width-60 form-control-sm", 'style -> "margin-right: 2px;", 'step -> 0.001, 'min -> 0, 'placeholder -> "from")
                            <div style="padding-right:2px;">–</div>
                            @b4.number(field("quantityRangeTo"), 'class -> "ingredient__detail ingredient__detail__quantityRangeTo width-60 form-control-sm", 'step -> 0.001, 'min -> 0, 'placeholder -> "to")
                        </div>
                    </div>
                    <div style="font-size:80%">
                        <!--
                            The checkbox input is three levels below the parent of
                            class="ingredient__single-measurement-field" and class="ingredient__range-measurement-field"
                            This is to match the code of editForm.js $("body").on("change", '.ingredient__measurement-toggle'
                        -->
                        <label>
                            <input type="checkbox" class="ingredient__measurement-toggle">&nbsp;<span style="color:grey;">range</span>
                        </label>
                    </div>
                </div>
                @b4.select(field("unit"), 'class -> "ingredient__detail ingredient__detail__unit form-control-sm", '_label -> "unit") { implicit values =>
                    @b4.selectOption("", "—")
                    <optgroup label="Weights"> @weights.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                    <optgroup label="Liquids"> @liquids.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                    <optgroup label="Spoons"> @spoons.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                    <optgroup label="Natural"> @natural.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                    <optgroup label="By Hand"> @byhand.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                    <optgroup label="Packaged"> @packaged.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                    <optgroup label="Lengths"> @lengths.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                }
                @b4.text(field("item"), 'class -> "ingredient__detail ingredient__detail__item form-control-sm", 'placeholder -> "ingredient", 'required -> true)
                @b4.text(field("comment"), 'class -> "ingredient__detail ingredient__detail__comment form-control-sm", 'placeholder -> "comment")
                @b4.button('class -> "btn btn-default btn-sm button-remove ingredient__button-remove") { <i class="fa fa-times" aria-hidden="true"></i> }
            </div>
        </div>
    } else {
        @list.zipWithIndex.map { case (i, index) =>
        <div class="ingredient" title="Original text: @i("raw").value">
            <div class="flex space-children" style="display:none;">
              <span><strong>original ingredient</strong></span>
              <span class="ingredient__detail__parsed-ingredient__edit-button text-primary small">edit</span>
              @b4.text(i("raw"), 'class -> "ingredient__detail ingredient__detail__parsed-ingredient form-control-sm form-hidden")
              @b4.button('class -> "btn btn-default btn-sm button-remove ingredient__button-remove") { <i class="fa fa-times" aria-hidden="true"></i> }
          </div>
          <div class="flex small-children" style="align-items:flex-start">
              <div>
                  <div class="ingredient__single-measurement-field">
                      @b4.number(i("quantity"), 'class -> "ingredient__detail ingredient__detail__quantity width-80 form-control-sm", 'step -> 0.001, 'min -> 0, 'placeholder -> "amount")
                  </div>
                  <div class="ingredient__range-measurement-field">
                      <div class="flex">
                          @b4.number(i("quantityRangeFrom"), 'class -> "ingredient__detail ingredient__detail__quantityRangeFrom width-60 form-control-sm", 'style -> "margin-right: 2px;", 'step -> 0.001, 'min -> 0, 'placeholder -> "from")
                          <div style="padding-right:2px;">–</div>
                          @b4.number(i("quantityRangeTo"), 'class -> "ingredient__detail ingredient__detail__quantityRangeTo width-60 form-control-sm", 'step -> 0.001, 'min -> 0, 'placeholder -> "to")
                      </div>
                  </div>
                  <div style="font-size:80%">
                        <!--
                            The checkbox input is three levels below the parent of
                            class="ingredient__single-measurement-field" and class="ingredient__range-measurement-field"
                            This is to match the code of editForm.js $("body").on("change", '.ingredient__measurement-toggle'
                        -->
                      <label>
                          <input type="checkbox" class="ingredient__measurement-toggle">&nbsp;<span style="color:grey;">range</span>
                      </label>
                  </div>
              </div>
              @b4.select(i("unit"), 'class -> "ingredient__detail ingredient__detail__unit form-control-sm", '_label -> "unit") { implicit values =>
                  @b4.selectOption("", "—")
                  <optgroup label="Weights"> @weights.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                  <optgroup label="Liquids"> @liquids.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                  <optgroup label="Spoons"> @spoons.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                  <optgroup label="Natural"> @natural.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                  <optgroup label="By Hand"> @byhand.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                  <optgroup label="Packaged"> @packaged.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
                  <optgroup label="Lengths"> @lengths.map { i => @b4.selectOption(i.abbreviation, i.displayName) } </optgroup>
              }
              @b4.text(i("item"), 'class -> "ingredient__detail ingredient__detail__item form-control-sm", 'placeholder -> "ingredient", 'required -> true)
              @b4.text(i("comment"), 'class -> "ingredient__detail ingredient__detail__comment form-control-sm", 'placeholder -> "comment")
              @b4.button('class -> "btn btn-default btn-sm button-remove ingredient__button-remove") { <i class="fa fa-times" aria-hidden="true"></i> }
          </div>
        </div>
        }
    }
  </div>
}

